{% extends 'base.html' %}

{% block returnBTN %}
{%endblock%}

{% block content %}
<div class="w-screen flex-col items-center">
    <img src="data:image.ong;base64, {{ general_plot_needs_url }}" alt="Graph to see needs and happiness of the agents during simulation" class="w-[640px] h-[480px]">
    <img src="data:image.ong;base64, {{ general_plot_decayurl }}" alt="Graph to see means of needs and happiness decay of the agents during simulation" class="w-[640px] h-[480px]">
    <img src="data:image.ong;base64, {{ jobless_count_url }}" alt="Graph to see the count of jobless agents per turn of the simulation" class="w-[640px] h-[480px]">
</div>
{% endblock %}
